#title{
    background-color:rgb(235, 57, 86);
    color: white;
    
}

.container-fluid{
    padding: 0% 10%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

h1{
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 70px;
}

h3{
    font-family: 'Ubuntu', bold;
}
.nav-item{
    padding:0 18px;
    color: white;
}

.button-class{
    margin-left: 30px;
}


.download-button{
    margin: 10% 2% 5% 0%;
}

.Title-image{
    width:22%;
    transform: rotate(25deg);
    right: 20%;
    position: absolute;
}

.title-button{
    margin-top: 5%;
}

#features{
    padding: 3% 15%;
    background-color: white;
    position:relative;
}

.feature-box{
text-align: center;
padding: 5%;
}

.Icon{
    color: rgb(15, 14, 14);
    margin-bottom: 2rem;
}

.Icon:hover{
    color: rgb(235, 57, 86);
}

#testimonials{
    text-align: center;
    background-color: rgb(235, 57, 86);
}
.carousel-item{
    padding: 6% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 5%;
}
#press{
    background-color:rgb(235, 57, 86) ;
    text-align: center;
}
.press-logo{
    width: 13%;
    margin: 2rem;
}

.some-heading{
    text-align: center;
    margin: 6% 0%;
}

#pricing{
    margin: 0 15%;
    text-align: center;
}    
.pricing-column{
    padding: 2% 3%;
}

h2{
    font-size: 40px;
    font-weight: 1000;
}

h3{
font-weight: 900;
}

@margin(max-width:1028px){
    #title{
        text-align:center;
    }
    
    .Title-image{
        position:static;
        transform:rotate(0);
    }
}

#cta{
    background-color:rgb(235, 57, 86) ;
    color: white;
    font-weight: 900;
    text-align: center;
    padding: 3% 15%;
   
}
.cta-heading{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}